name: Daily Channel Update

on:
  schedule:
    - cron: '0 */6 * * *' # يعمل كل 6 ساعات
  workflow_dispatch: # زر التشغيل اليدوي

permissions:
  contents: write # ⚠️ هذا السطر ضروري جداً

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run Scraper
        run: python scraper.py

      - name: Commit and push changes
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add database.json
          git diff --quiet && git diff --staged --quiet || (git commit -m "Auto-update channels [skip ci]" && git push)
